body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.shadow{
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.btn-plus{
  border-radius: 50%;
  background-color: #006cb7;
  width: 60px;
  height: 60px;
  border: 0;
}

.btn-plus span{
  color: #fafafa;
}

.actions > button{
  margin: 5px;
}

footer{
  position: fixed;
  bottom:40px;
  right: 30px;
}

.card-body{
  padding: 15px;
}

#card{
  text-decoration: none;
}
